<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
</head>
<body>
    <%- include('./partials/header'); %>

    <div>
        <button type="button" id="post">Send HTTP</button>
    </div>
    <p>result</p>
    <div id="result">

    </div>

    <%- include('./partials/footer'); %>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</html>