<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Введите данные</h1>
    <form action="/form" method="post" enctype="multipart/form-data">
        <label>Имя</label><br>
        <input type="text" name="userName" /><br><br>
        <label>Возраст</label><br>
        <input type="number" name="userAge" /><br><br>
        <label for="file">Choose file to upload</label><br>
         <input type="file" id="file" name="file" /><br><br>
        <button type="submit">Відправити</button>
        <p style="color: red;"><%= error %></p>
    </form>
</body>
</html>