<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
    <div id="d"><h1 >Введите данные</h1></div>
    <script src="/js/script.js"></script>
</body>
</html>