<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Media</h1>
<img src="/1.png">
<img src="/2.jpg">
<img src="/photo/3.jpg">
<img src="/photo/4.png">
</body>
</html>