<!DOCTYPE html>
<html>
  <head>
    <title>auth</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <a href="/">reg</a>
    <h1>Auth</h1>
    <form action="/auth" method="post">
      <label>Login</label><br />
      <input required type="text" name="login" /><br /><br />
      <label>Password</label><br />
      <input required type="text" name="password" /><br /><br />
      <label>Email</label><br />
      <input required type="email" name="email" /><br /><br />
      <label>Phone number</label><br />
      <input required type="number" name="phoneNumber" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <p style="color: green"><%= error %></p>
    <button id="createBtn"> Create </button>
    <button id="readBtn"> Read </button>
  </body>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
</html>
